apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: rudderstack-monitor
spec:
  schedule: "*/1 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: monitor
              image: rudderlabs/test-mon:release-{{tag}}
          restartPolicy: OnFailure
