apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: ganesh-monitor
spec:
  schedule: "*/1 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: monitor
              image: gane5h/monitor:{{tag}}
          restartPolicy: OnFailure
